.cards{position: relative;display: flex; flex-wrap:wrap; flex-direction: row;}
.card{width: 25%; height: 25vh; margin-top: 5vh; border-radius: 15px; box-shadow: 1px 1px 10px 2px rgba(0, 0, 0, 0.685); padding: 2%; margin-left: 6%; cursor: pointer; transition: .5s all linear; transform: scale(1)}
.card-header{border-bottom: 2px solid #9e8bf4; margin-bottom: 2vh;}
.card:hover{transform: scale(1.2);}
/*Formulario para agregar ficha*/
form{background-color:#ededed; width: 325px; display: flex; align-items: center; justify-content: center; height: 38vh; position: absolute ; left: 35%; border-radius: 5%; flex-direction: column; border: #9e8bf4 solid 1px; top: 25%;}
.form-inactivo{display: none;}
.form-activo{display: flex;}
.cerrar{font-size: 20px; cursor: pointer; position: absolute; left: 85%; top: 10%;}
.cerrar:hover{color: red;}
form input[type=number]{ height: 30px; margin: 15px; padding: 1%; outline: none; border: none; border-bottom: #9e8bf4 2px solid;}
form input[type=number]:focus::placeholder{opacity: .7;}
.error{margin-bottom:5%; font-weight: bold;}
.agregar{ height: 2rem; padding: 1%; background-color: #e29226; border: #e29226; transition: 1s ease-out;}
.agregar:hover{ cursor: pointer; background-color: #9e8bf4; color: white;}
.add{display: flex;  background-color: #e29226; width: 50px; position: fixed; height: 50px; justify-content: center;align-items: center; font-size: 25px; border-radius: 30px; left: 85%; top: 68%; transition: 1s ease-out; border: none; z-index: 1;}
.add:hover{cursor: pointer; background-color: #9e8bf4; color: white;}

@media only screen and(max-width: 1039px){
    .card{background-color: aqua;}
}