<body>
    <main>
        <div class="container">
            <div class="fondo">
                <div class="fondo-login">
                    <button id="btn-sesión" (click)="Animacion('iniciarsesion')">Iniciar sesión </button>
                    <h3>Siempre puntúa siendo puntual.</h3>
                    <img src="../../../assets/images/fondito.png" alt="Attendance Tracking">
                </div>
    
                <div class="fondo-registro">
                    <button id="btn-registro" (click)="Animacion('registrarse')">Registrarse </button>
                    <h3>Siempre puntúa siendo puntual.</h3>
                    <img src="../../../assets/images/fondito.png" alt="Attendance Tracking">
                </div>
            </div>
    
            <!---- Inico de sesión ---->
            <div class="lgr" id="loginRegistro">
                <div class="loginInactivo" class="loginActivo" id="login">
                    <form [formGroup]="UsuarioForm" class="formularioL" (ngSubmit)="logear()">
                        <div class="titulo">
                            <h2>Inicio de sesión</h2>
                        </div>
                            <div form>
                                <input formControlName="email" class="emailL" type="email" placeholder="Correo">
                                <label class="error" *ngIf="UsuarioForm.get('email')?.invalid && (UsuarioForm.get('email')?.dirty || UsuarioForm.get('email')?.touched)">El correo requerido</label>
                            </div>
                            <div form>
                                <input formControlName ="password" class="passwordL" type="password" placeholder="Contraseña">
                                <label class="error" *ngIf="UsuarioForm.get('password')?.invalid && (UsuarioForm.get('password')?.dirty || UsuarioForm.get('password')?.touched)">La contraseña es requerida requerido</label>
                            </div>
                        <button  type="submit">Ingresar</button>
                    </form>
                </div>
    
                <!---- Registro ---->
                <div class="registroInactivo" class="registroActivo" id="registro">
                    <form [formGroup]="UsuarioForm" class="formularioR" (ngSubmit)="registrase()">
                        <div class="titulo">
                            <h2>¡Registrate!</h2>
                        </div>
                        <div form>
                            <input class="NombreC" type="text" placeholder="Nombre" formControlName="nombre">
                            <label class="error" *ngIf="UsuarioForm.get('nombre')?.invalid && (UsuarioForm.get('nombre')?.dirty || UsuarioForm.get('nombre')?.touched)">El nombre requerido</label>
                        </div>
                        <div form>
                            <input class="ApellidoC" type="text" placeholder="Apellido" formControlName="apellido">
                            <label class="error" *ngIf="UsuarioForm.get('apellido')?.invalid && (UsuarioForm.get('apellido')?.dirty || UsuarioForm.get('apellido')?.touched)">El apellido requerido</label>
                        </div>
                        <div form>
                            <input id="email" class="email" type="email" placeholder="Correo" formControlName="email">
                            <label class="error" *ngIf="UsuarioForm.get('email')?.invalid && (UsuarioForm.get('email')?.dirty || UsuarioForm.get('email')?.touched)">El correo requerido</label>
                        </div>
                        <div form>
                            <input class="Ndocumento" type="text" placeholder="Número de Documento" formControlName="num_documento">
                            <label class="error" *ngIf="UsuarioForm.get('num_documento')?.invalid && (UsuarioForm.get('num_documento')?.dirty || UsuarioForm.get('num_documento')?.touched)">El número de documento es requerido</label>
                        </div>
                        <div form>
                            <input class="Ncontacto" type="text" placeholder="Número de contacto" formControlName="num_contacto">
                            <label class="error" *ngIf="UsuarioForm.get('num_contacto')?.invalid && (UsuarioForm.get('num_contacto')?.dirty || UsuarioForm.get('num_contacto')?.touched)">El número de contacto es requerido</label>
                        </div>
                        <div form>
                            <input class="password" type="password" placeholder="Contraseña" formControlName = "password">
                            <label class="error" *ngIf="UsuarioForm.get('password')?.invalid && (UsuarioForm.get('password')?.dirty || UsuarioForm.get('password')?.touched)">La contraseña es requerida</label>
                        </div>
                            <button type="submit">Ingresar</button>
                    </form>
                </div>
            </div>
        </div>
    </main>  
</body>


