<body>
    <main>
        <div class="container">
            <div class="fondo">
                <div class="fondo-login">
                    <button id="btn-sesión">Iniciar sesión</button>
                    <h3>Siempre puntúa siendo puntual.</h3>
                    <img src="../../../assets/images/fondito.png" alt="Attendance Tracking">
                </div>
    
                <div class="fondo-registro">
                    <button id="btn-registro">Registrarse</button>
                    <h3>Siempre puntúa siendo puntual.</h3>
                    <img src="../../../assets/images/fondito.png" alt="Attendance Tracking">
                </div>
            </div>
    
            <!---- Inico de sesión ---->
            <div class="loginRegistro">
                <div class="login">
                    <form [formGroup]="UsuarioForm" class="formularioL" (ngSubmit)="logear()">
                        <div class="titulo">
                            <h2>Inicio de sesión</h2>
                        </div>
                            <div form>
                                <input formControlName="email" class="emailL" type="email" placeholder="Correo">
                                <label class="error"></label>
                            </div>
                            <div form>
                                <input formControlName ="password" class="passwordL" type="password" placeholder="Contraseña">
                                <label class="error"></label>
                            </div>
                        <button  type="submit">Ingresar</button>
                    </form>
                </div>
    
                <!---- Registro ---->
                <div class="registro">
                    <form [formGroup]="UsuarioForm" class="formularioR" (ngSubmit)="registrase()">
                        <div class="titulo">
                            <h2>¡Registrate!</h2>
                        </div>
                        <div form>
                            <input class="NombreC" type="text" placeholder="Nombre" formControlName="nombre">
                            <label class="error"></label>
                        </div>
                        <div form>
                            <input class="ApellidoC" type="text" placeholder="Apellido" formControlName="apellido">
                            <label class="error"></label>
                        </div>
                        <div form>
                            <input id="email" class="email" type="email" placeholder="Correo" formControlName="email">
                            <label class="error"></label>
                        </div>
                        <div form>
                            <input id="email" class="email" type="email" placeholder="Correo de respaldo" formControlName="correo_respaldo">
                            <label class="error"></label>
                        </div>
                        <div form>
                            <input class="Ndocumento" type="text" placeholder="Número de Documento" formControlName="num_documento">
                            <label class="error"></label>
                        </div>
                        <div form>
                            <input class="Ncontrato" type="text" placeholder="Número de contrato" formControlName="num_contrato">
                            <label class="error"></label>
                        </div>
                        <div form>
                            <input class="Ncontacto" type="text" placeholder="Número de contacto" formControlName="num_contacto">
                            <label class="error"></label>
                        </div>
                        <div form>
                            <input class="password" type="password" placeholder="Contraseña" formControlName = "password">
                            <label class="error"></label>
                        </div>
                        <div form>
                            <input class="RPassword" type="password" placeholder="Confirmar contraseña">
                            <label class="error"></label>
                        </div>
                            <button type="submit">Ingresar</button>
                    </form>
                </div>
            </div>
        </div>
    </main>  
</body>


