<body>
    <main>
        <div class="container">
            <div class="fondo">
                <div class="fondo-login">
                    <button id="btn-sesión">Iniciar sesión</button>
                    <h3>Siempre puntua siendo puntual.</h3>
                    <img src="../../../assets/images/fondito.png" alt="Attendance Tracking">
                </div>
    
                <div class="fondo-registro">
                    <button id="btn-registro">Registrarse</button>
                    <h3>Siempre puntua siendo puntual.</h3>
                    <img src="../../../assets/images/fondito.png" alt="Attendance Tracking">
                </div>
            </div>
    
            <!---- Inico de sesión ---->
            <div class="loginRegistro">
                <div class="login">
                    <form action="" class="formularioL">
                        <div class="titulo">
                            <h2>Inicio de sesión</h2>
                        </div>
                            <div form>
                                <input class="emailL" type="email" placeholder="Correo">
                                <label class="error"></label>
                            </div>
                            <div form>
                                <input class="passwordL" type="password" placeholder="Contraseña">
                                <label class="error"></label>
                            </div>
                        <button  type="submit">Ingresar</button>
                    </form>
                </div>
    
                <!---- Registro ---->
                <div class="registro">
                    <form action="" class="formularioR">
                        <div class="titulo">
                            <h2>¡Registrate!</h2>
                        </div>
                        <div form>
                            <input class="Ncontracto" type="text" placeholder="Número de contrato">
                            <label class="error"></label>
                        </div>
                        <div form>
                            <input class="NombreC" type="text" placeholder="Nombre completo">
                            <label class="error"></label>
                        </div>
                        <div form>
                            <input id="email" class="email" type="email" placeholder="Correo">
                            <label class="error"></label>
                        </div>
                        <div form>
                            <input class="password" type="password" placeholder="Contraseña">
                            <label class="error"></label>
                        </div>
                        <div form>
                            <input class="RPassword" type="password" placeholder="Confirmar contraseña">
                            <label class="error"></label>
                        </div>
                            <button type="submit">Ingresar</button>
                    </form>
                </div>
            </div>
        </div>
    </main>  

    <app-footer></app-footer>
</body>


