<div class="pies">
    <footer>
        <div class="logo"> <img src="../../../assets/images/LoguitoAT-1(1).png" alt="Logo Attendance Tracking"></div>
        <div class="footer1">
            <h2>Nosotros</h2>
            <ul>
                <li><a href="/nosotros">Equipo de desarrolladores</a></li>
                <li><a href="/nosotros">Misión</a></li>
                <li><a href="/nosotros">Visión</a></li>
            </ul>
        </div>
        <!-- <div class="footer1">
            <h2>PQRS</h2>
            <ul>
                <li><a href="#">Nos gustaría saber lo que piensas</a></li>
            </ul>
        </div> -->
        <div class="footer1">
            <h2>Terminos Y Condiciones</h2>
            <ul>
                <li><a href="#">Terminos Y Condiciones</a></li>
            </ul>
        </div>
        <div class="redes">
            <ul>
                <li><a href="https://www.instagram.com/seguimientoasistencia/" target="_blank"><i class="fa-brands fa-instagram fa-lg"></i></a></li>
                <li><a href="mailto:attendancetracking2022@gmail.com"><i class="fa-solid fa-envelope fa-lg"></i></a></li>
                <li><a href="https://www.facebook.com/profile.php?id=100091144724366" target="_blank"><i class="fa-brands fa-facebook fa-lg"></i></a></li>
            </ul>
        </div>
    </footer>
</div>
