<div class="pies">
    <footer>
        <div class="logo"> <img src="../../../assets/images/LoguitoAT-1(1).png" alt="Logo Attendance Tracking"></div>
        <div class="footer1">
            <h2>Nosotros</h2>
            <ul>
                <li><a href="#">Equipo de desarrolladores</a></li>
                <li><a href="#">Misión</a></li>
                <li><a href="#">Visión</a></li>
            </ul>
        </div>
        <div class="footer1">
            <h2>PQRS</h2>
            <ul>
                <li><a href="#">Nos gustaría saber lo que piensas</a></li>
            </ul>
        </div>
        <div class="footer1">
            <h2>Terminos Y Condiciones</h2>
            <ul>
                <li><a href="#">Nuestros Terminos Y Condiciones</a></li>
            </ul>
        </div>
    </footer>
</div>
