<!---Nabvar--->
<app-navbar></app-navbar>

<!---Cartas--->
<body>

    <main>
        <div class="container">

            <div class="card__father">
                <div class="card">
                    <div class="frente" style="background-image: url(/src/assets/images/nosotros.jpg);">
                        <div class="bg"></div>
                        <div class="cuerpoF">
                            <img src="../../../src/assets/images/nosotros.jpg" alt="">
                        </div>
                    </div>
                    <div class="atras">
                        <div class="cuerpoA">
                            <h1>Juan Londoño</h1>
                            <p>Desarrollador experto en backend.</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card__father">
                <div class="card">
                    <div class="frente" style="background-image: url(/src/assets/images/nosotros.jpg);">
                        <div class="bg"></div>
                        <div class="cuerpoF">
                            
                        </div>
                    </div>
                    <div class="atras">
                        <div class="cuerpoA">
                            <h1>Juan Guillermo</h1>
                            <p>Desarrollador experto en backend.</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card__father">
                <div class="card">
                    <div class="frente" style="background-image: url(/src/assets/images/nosotros.jpg);">
                        <div class="bg"></div>
                        <div class="cuerpoF">
                            
                        </div>
                    </div>
                    <div class="atras">
                        <div class="cuerpoA">
                            <h1>Lorena Quiceno</h1>
                            <p>Desarrollador experto en backend.</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card__father">
                <div class="card">
                    <div class="frente" style="background-image: url(/src/assets/images/nosotros.jpg);">
                        <div class="bg"></div>
                        <div class="cuerpoF">
                            
                        </div>
                    </div>
                    <div class="atras">
                        <div class="cuerpoA">
                            <h1>Elizabet Sanmartin</h1>
                            <p>Desarrollador experto en backend.</p>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="card__father">
                <div class="card">
                    <div class="frente" style="background-image: url(/src/assets/images/nosotros.jpg);">
                        <div class="bg"></div>
                        <div class="cuerpoF">
                        
                        </div>
                    </div>
                    <div class="atras">
                        <div class="cuerpoA">
                            <h1>Tatiana Mosquera</h1>
                            <p>Desarrollador experto en backend.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    
   
</body>
  
<!---Footer--->
<app-footer></app-footer>
