*{margin: 0;padding: 0;box-sizing: border-box;}
.container{max-width: 1200px;margin: auto;margin-top: 40px;perspective: 1000px;display: flex;flex-wrap: wrap;}
.card__father{margin: 20px;perspective: 1000px;}
.card__father:hover .card{ transform: rotateY(180deg);}
.card{width: 200px;height: 250px;position: relative;transform-style: preserve-3d;transition: all 600ms;}
.frente{background-size: cover;background-position: center;  }
.frente,.atras{width: 100%;height: 100%;position: absolute;top: 0;left: 0;backface-visibility: hidden;transform-style: preserve-3d;border-radius: 20px;}
.atras{transform: rotateY(180deg);background: white;}
.cuerpoF{width: 100%;height: 100%;text-align: center;padding: 40px;display: flex;justify-content: center;align-items: center;color: #fff;transform: translateZ(60px);}
.bg{width: 100%;height: 100%;position: relative;top: 0;left: 0;background: rgba(0, 0, 0, 0.333);border-radius: 20px;}
.cuerpoA{padding: 40px;text-align: center;transform: translateZ(60px);}
.cuerpoA p{margin-top: 30px;font-size: 18px;}
