<!---Nabvar--->
<app-navbar></app-navbar>

    <!---Cartas--->
    <div class="container">
        <div class="card__father">
            <div class="card">
                <div class="frente" style="background-image: url(../../../assets/images/logoN.jpg);">
                    <div class="bg"></div>
                    <div class="cuerpoF"></div>
                </div>
                <div class="atras">
                    <div class="cuerpoA">
                        <h1>Juan Londoño</h1>
                        <p>Desarrollador experto en backend.</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="card__father">
            <div class="card">
                <div class="frente" style="background-image: url(../../../assets/images/logoN.jpg);;">
                    <div class="bg"></div>
                    <div class="cuerpoF"></div>
                </div>
                <div class="atras">
                    <div class="cuerpoA">
                        <h1>Juan Guillermo</h1>
                        <p>Desarrollador experto en backend.</p>
                    </div>
                </div>
            </div>
        </div>

            <div class="card__father">
                <div class="card">
                    <div class="frente" style="background-image: url(../../../assets/images/logoN.jpg);;">
                        <div class="bg"></div>
                        <div class="cuerpoF">
                            
                        </div>
                    </div>
                    <div class="atras">
                        <div class="cuerpoA">
                            <h1>Lorena Quiceno</h1>
                            <p>Desarrollador experto en backend.</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card__father">
                <div class="card">
                    <div class="frente" style="background-image: url(../../../assets/images/logoN.jpg);">
                        <div class="bg"></div>
                        <div class="cuerpoF">
                            
                        </div>
                    </div>
                    <div class="atras">
                        <div class="cuerpoA">
                            <h1>Elizabet Sanmartin</h1>
                            <p>Desarrollador experto en backend.</p>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="card__father">
                <div class="card">
                    <div class="frente" style="background-image: url(../../../assets/images/logoN.jpg);">
                        <div class="bg"></div>
                        <div class="cuerpoF">
                        
                        </div>
                    </div>
                    <div class="atras">
                        <div class="cuerpoA">
                            <h1>Tatiana Mosquera</h1>
                            <p>Desarrollador experto en backend.</p>
                        </div>
                    </div>
                </div>
            </div>

            <!--Misión y visión-->

        </div>
        <div class="contenedor">

            <div class="valores">
                <h2>Misión</h2>
                <p>Attendance Tracking nace para ayudar en el trabajo de la institución educativa, facilitando la toma de asistencia de los profesores y avisando a la entidad cuando un alumno falta reiteradamente, mejorando así el campo estudiantil para cada estudiante.
                </p>
            </div>
            <div class="valores">
                <h2>Visión</h2>
                <p>Ser una empresa reconocidad en el ambito educativo, promoviendo la importancia de que un alumno si asista regularmente a clases, valorando el conocimiento que se imparte en las aulas y el trabajo realizado tanto por los profesores como por las instituciones educativas.</p>
            </div>
    </div>

    <!---Footer--->
    <app-footer></app-footer>
  
