nav{display: flex;width: 100%; height: 60px; background-color: black; font-size: 18px; justify-content: flex-end; border-bottom: 4px solid purple;}
.name{display: flex;position: relative; left:3%; align-items: center;}
nav ul{display: flex;list-style: none; width: 50%; justify-content: space-around; align-items: center; margin: auto;}
nav ul li{display: inline-flex;}   
a{text-decoration: none; color: white; transition: all .5s linear; border-bottom: 0px solid purple;}
.logo img{width: 100%; height: 4rem; position: relative; border-radius:50%; margin-left:50%;}
.main{width: 100%; display: flex; justify-content: space-around; margin-top: 4%;}
.registro{width: 25rem;background-color: #ededed; position: relative; height: 60vh;  border: 3px solid #7d6f8f;  top: 15%; border-radius: 1rem; display: flex; flex-direction: column; align-items: center; padding: 1%; justify-content: space-around; box-shadow: 3px 1px 6px 0px grey;}
.titulo{ color: #e29226;margin: 5%;}
.botones{width: 100%; display: flex; justify-content: center;}
.botones button{width: 40%; height: 50px; background-color: #ededed; border: 2px solid #786a92;transition: 1s ease-out;}
.botones button:hover{cursor: pointer; background-color: #f79100;}
#lema{color: #7a7b87;}
h4{margin: 10%; border-bottom: 3px solid #f79100;}
h4 a{font-size: 15px; color: black;}

@media  only screen  and (max-width: 1039px){
    .main{flex-direction: column; align-items: center;}
    .slider{width: 90%; height: 60vh;}
    .registro{margin-bottom: 2%;}
    
}  

/*Slider*/
.slider{width: 40%; height: 60vh; padding: 0; margin: 0; overflow: hidden; border: 3px #786a92 solid; border-radius: 1rem; box-shadow: 3px 1px 6px 0px grey;}
.slider-container{padding: 0; margin: 0; display: flex; width: 400%; height: 100%; animation: slider 20s infinite alternate linear; }
.slider-container > figure{width: 100%; height: 50vh; margin: 0; padding:0; position: relative; }
.img-responsive{width: 100%; height: 60vh;}

@keyframes slider {
    0%{margin-left: 0;}
    20%{margin-left: 0;}

    25%{margin-left: -100%;}
    45%{margin-left: -100%;}

    50%{margin-left: -200%;}
    70%{margin-left: -200%;}

    75%{margin-left: -300%;}
    100%{margin-left:-300%;}

}