<app-navbar></app-navbar>
<div class="contenedor">
    <h2>{{date}}</h2>
    <div  class="datos">
        <table  id="tabla" class="tabla">
            <thead>
                <tr>
                    <th>Hora</th>
                    <th>Nombre</th>
                    <th>Curso</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>15:00</td>
                    <td>Jonatan Ortiz</td>
                    <td>2473196</td>
                </tr>
                <tr>
                    <td>18:00</td>
                    <td>Carla Moreno</td>
                    <td>2473196</td>
                </tr>
                <tr>
                    <td>18:30</td>
                    <td>Sofía Henao</td>
                    <td>2473196</td>
                </tr>
            </tbody>
            <button type="submit">Guardar</button>
        </table>
    </div>
</div>

<app-footer></app-footer>