<app-navbar></app-navbar>
<p>Historial</p>

<table>
    <tr class="head">
        <th>Ficha</th>
        <th>Editor</th>
        <th>Fecha y Hora</th>
    </tr>
    <tr>
        <td>2473196</td>
        <td>Tatiana Mosquera</td>
        <td>01/10/2022</td>
    </tr>
    <tr>
        <td>2473196</td>
        <td>Tatiana Mosquera</td>
        <td>01/10/2022</td>
    </tr>
    <tr>
        <td>2473196</td>
        <td>Tatiana Mosquera</td>
        <td>01/10/2022</td>
    </tr>
    <tr>
        <td>2473196</td>
        <td>Tatiana Mosquera</td>
        <td>01/10/2022</td>
    </tr>
</table>
<div class="guardar">
    <button type="submit">Imprimir</button>
</div>


<app-footer></app-footer>