<app-navbar></app-navbar>

<div class="encabezado">
    <div class="curso">
        <h2 class="numCurso">2473196</h2>
        <h3>Análisis y Desarrollo de Software</h3>
    </div>
    <div class="fecha">
        <h2>Fecha</h2>
        <h3>28/11/2022<i class="fa-solid fa-calendar-days"></i></h3>
    </div>
</div>

<table>
    <tr class="head">
        <th>Alumnos</th>
        <th>Fecha</th>
        <th>Profesores</th>
    </tr>
    <tr>
        <td>Guillermo Lopez</td>
        <td>01/10/2023</td>
        <td>Edwar Lopera</td>
    </tr>
    <tr>
        <td>Lorena Quiceno</td>
        <td>01/10/2023</td>
        <td>Adelaida Cano</td>
    </tr>
    <tr>
        <td>Andrés Escobar</td>
        <td>01/10/2023</td>
        <td>Richard Batancurt</td>
    </tr>
    <tr>
        <td>Juan Morales</td>
        <td>01/10/2023</td>
        <td>José Lopez</td>
    </tr>

</table>
<div class="guardar">
    <button type="submit">Descargar</button>
</div>


<app-footer></app-footer>