<app-navbar></app-navbar>

<div class="encabezado">
    <div class="curso">
        <h2 class="numCurso">2473196</h2>
        <h3>Análisis y Desarrollo de Software</h3>
    </div>
    <div class="fecha">
        <h2>Fecha</h2>
        <h3>{{ fe }}<i class="fa-solid fa-calendar-days"></i></h3>
    </div>
</div>

<table id="informe">
    <tr class="head">
        <th>Alumnos</th>
        <th>Fecha</th>
        <th>Curso</th>
    </tr>
    <tr *ngFor="let i of list">
        <td>{{i.nombre}} {{i.apellido}}</td>
        <td>{{i.f_inasistencia|date}}</td>
        <td>{{i.nom_curso}}</td>
    </tr>
</table>
<div class="guardar">
    <button (click)="download()">Descargar <i class="fa-solid fa-file-pdf" style="color: #000000;"></i></button>
</div>


<app-footer></app-footer>