#titulo{text-align: center; margin: 1%;}
.pqrs{background-color:  #ededed; width: 100%; display: grid; padding: 5%;margin-top: 1%;}
.pqrs label{font-weight: bold;margin: 1% 0% 1% 0%;}  
#email{ width: 29%; padding: 5px;}
#queja{height: 100px; padding: 1%;}
.enviarPQRS{font-size: 15px;background-color: #e29226; display: flex; width: 15%; justify-content: space-around; align-items: center; padding: 1%; position: relative; left: 85%; border: none; margin-top: 5px;}
.enviarPQRS:hover{color: white; cursor: pointer;}